*{
    padding: 5px;
    margin: auto;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    padding: 20px;
    background-color: rgb(41, 165, 171);
    text-align: center;
}

#main{
    /* color:whitesmoke; */
    padding: 20px;
    width: 75%;
    margin: 0;
}

#description{
    margin: 0 20em 0 20em;
}

#survey-form{
    background-color: rgba(128, 128, 128, 0.802);
    margin: 0% 20% 0 20%;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* float content to the left
    NOTE: It didn't work when you added float right 
        here. How to go about this is... pointing to each
        element and float them left from there. */
}

#survey-form p{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-textarea{
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    min-height: 100px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}
