*{
    padding: 5px
}

body{
    padding: 20px;
    background-color: rgb(41, 165, 171);
}

#main{
    /* color:whitesmoke; */
    text-align: center;
    padding: 20px;
    width: 75%;
    margin: 0
}

#survey-form{
    background-color: gray;
    /* float content to the left
    NOTE: It didn't work when you added float right 
        here. How to go about this is... pointing to each
        element and float them left from there. */
}

